################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/DragonWindows/v15/ipch
/.vs/DragonWindows/v15
/Auth/Debug
/Auth/*.log
/Auth/x64/Debug
/DragonLib/Debug
/DragonLib/x64/Debug
/x64/Debug
/x64
*.user
/Char/*.log
/Char/x64/Debug
/Char/x64/Release
/Char/data
/Game/data
/Game/x64/Debug
/Game/data.old.7z
/Game/x64/Release
/Game/*.log
/.vs/DragonWindows/v14/.suo
/Benchmark.exe
/DragonWindows.VC.db
/Report20181020-1748.vspx
/Game.psess
/Auth/x64/Release
/DragonLib/x64/Release
/packages

/Auth
/Char
/CMake
/DragonLib/CMakeLists.txt
/TS/6151.t
/TS/11636.t
/TS/11635.t
/TS/11634.t
/TS/11633.t
/TS/11632.t
/TS/11631.t
/TS/11630.t
/TS/11629.t
/TS/11628.t
/TS/11627.t
/TS/11626.t
/TS/11625.t
/TS/11624.t
/TS/11623.t
/TS/11622.t
/TS/11621.t
/TS/11620.t
/TS/11619.t
/TS/11618.t
/TS/11617.t
/TS/11616.t
/TS/11615.t
/TS/11614.t
/TS/11613.t
/TS/11612.t
/TS/11611.t
/TS/11610.t
/TS/11607.t
/TS/11606.t
/TS/11605.t
/TS/11604.t
/TS/11603.t
/TS/11602.t
/TS/11601.t
/TS/11600.t
/CMakeLists.txt
/Game/CMakeLists.txt
/.vs/DragonWindows/v16

/Game/Log

/DragonTimeSpace/.vs/DragonTimeSpace
/DragonTimeSpace/Auth/Log
/DragonTimeSpace/Char/Log
/DragonTimeSpace/packages
/DragonTimeSpace/Auth/x64/Debug
/DragonTimeSpace/Char/x64/Debug
/DragonTimeSpace/DragonLib/x64/Debug
/DragonTimeSpace/x64/Debug
/DragonTimeSpace/Char/00000.log
/DragonTimeSpace/CGServer/x64/Debug
/DragonTimeSpace/CGServer/Log
/DragonTimeSpace/KeyGenerator/Log
/DragonTimeSpace/KeyGenerator/x64/Debug
/DragonTimeSpace/CGServer/00000.log
/DragonTimeSpace/TSLLuaConverter/bin/Debug
/DragonTimeSpace/TSLLuaConverter/obj/Debug
/DragonTimeSpace/DBTaSLTool/DBTaSLTool/x64
/DragonTimeSpace/DBTaSLTool/DBTaSLTool/00000.log
/DragonTimeSpace/DBTaSLTool/DBTaSLTool/debug
/DragonTimeSpace/DBTaSLTool/build-DBOTaSLTool-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/debug/DBOTaSLTool.vc.pdb
